@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-color: rgba(39, 62, 127, 0.87);
}

body {
  @apply min-w-[320px] min-h-screen bg-[#e4f4ff] flex items-center justify-center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-color);
}
